.homePage {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%; 
}

.centered {
    justify-content: center;
    margin: 0 auto;
}

.responsive-layout-button {
    justify-content: center;
    margin: 0 auto;
    width: 75%;
}