.homePage {
    text-align: center;
    height: 100vh;
    overflow: auto;
    /* Magic here */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.centered {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}